# Python og Jupyter Notebooks
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtuelle miljøer (hvis I bruger det)
venv/
env/
.env

# Datasæt (MEGET VIGTIGT: Forhindrer upload af CIFAR-10)
data/
datasets/
*.zip
*.tar.gz

# PyTorch Modeller (Gemte vægte fylder for meget på GitHub)
*.pth
*.pt
*.ckpt

# IDE filer (Forhindrer at jeres personlige VS Code/PyCharm settings deles)
.vscode/
.idea/
